.hidden {
  display: none;
}
body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  padding-top: 5rem;

}

.container {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-height: 550px;
  min-width: 280px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 1rem;
}

input {
  padding: 0.5rem;
  margin-top: 0.25rem;
  font-size: 1rem;
  border-radius: 5px;
}

button {
  margin-top: 1.5rem;
  padding: 0.75rem;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  outline: black 2px solid;
  border-radius: 5px;
  color: white;
  background-color: #0080bc;
}

button:hover {
  background-color: #006ca3; /* темнее */
}

button:active {
  transform: scale(0.98);
  background-color: #005f8a;
}

button:focus {
  opacity: 80%;
}
#message {
  margin-top: 1rem;
  color: red;
}
.auth-tabs {
  display: flex;
  justify-content: space-between;
}
.auth-tab {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  color: #0080bc;
}

.auth-tab--active {
  border-bottom: 2px solid #0080bc;
  color: #0080bc;
  font-weight: bold;
  opacity: 80%;
}

.header {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header__logo {
  display: inline-block;
  width: 150px;
}

.page-contracts {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

@keyframes fadeIn {
    from {opacity: 0; transform: translateY(10px);}
    to {opacity: 1; transform: translateY(0);}
}

.form:not(.hidden) {
    animation: fadeIn 0.5s ease-in-out;
}
